@model Core.WebUI.ViewModels.LoginViewModel
@{
    Layout = "";
    ViewData["Title"] = "Log In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | TransportControl</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/dist/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/dist/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/dist/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/dist/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/dist/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/dist/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/dist/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/dist/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/dist/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/dist/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/dist/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/dist/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/dist/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="dark-mode hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Transport</b>Control
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">

                    <input type="hidden" asp-for="ReturnUrl" />

                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>

                    <div asp-validation-summary="All" class="text-danger">
                    </div>

                </form>

                <p class="mb-0">
                    <a asp-action="LoginTest" class="text-center">Sign in with test account</a>
                </p>

                <p class="mb-0">
                    <a asp-action="Register" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}