<div class="card card-primary">
    <div class="card-header">
        <h5 class="card-title">Create New</h5>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="col-lg-12 control-label">Name</label>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="Name" placeholder="Name" maxlength="30">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-signature"></i></span>
                            </div>
                        </div>
                        <span id="Name-msg" class="error-form text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Price" class="col-lg-12 control-label">Price</label>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="number" class="form-control" id="Price" placeholder="Price" min="0.01" max="10000">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        <span id="Price-msg" class="error-form text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Color" class="col-lg-12 control-label">Color</label>
                    <div class="col-lg-12">
                        <div class="input-group colorpicker-input">
                            <input type="text" class="form-control" id="Color" placeholder="Color">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-square"></i></span>
                            </div>
                        </div>
                        <span id="Color-msg" class="error-form text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <button id="btn-create" type="submit" class="btn btn-primary">Create</button>
    </div>
</div>

<script>

    $(function () {
        $('#btn-create').on('click', create);
    })

    function valid() {

        let name = $('#Name').val(),
            price = $('#Price').val();
            color = $('#Color').val();

        hideFormInvalid('#Name');
        hideFormInvalid('#Price');
        hideFormInvalid('#Color');

        if (!name) {
            errorFormInvalid('#Name', 'Name field is required!');
            return false;
        }

        if (!price) {
            errorFormInvalid('#Price', 'Price field is required!');
            return false;
        }

        if (price < 0.01 || price > 10000) {
            errorFormInvalid('#Price', 'Price is out of range!');
            return false;
        }

        if (!color) {
            errorFormInvalid('#Color', 'Color field is required!');
            return false;
        }

        return true;
    }

    function create() {
        if (!valid()) {
            return;
        }

        let url = '@Url.Action("Create", "TransportTypes")';
        let formData = {
            name: $('#Name').val(),
            price: $('#Price').val(),
            color: $('#Color').val(),
        };

        $('#btn-create').attr('disabled', 'disabled');

        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            dataType: "json",
            success: function (response) {
                successMessage('Successfully created!');
                reloadPage(1000);
            },
            error: function (response) {
                errorMessage('An error occurred: ' + response.responseText);
                $('#btn-create').removeAttr('disabled');
            }
        })
    }

</script>